<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8727LNIxLYQKpKecEvrqyLu409I8UfDc</string>
	<key>GCM_SENDER_ID</key>
	<string>56405015770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatRoute</string>
	<key>PROJECT_ID</key>
	<string>chatroute-fed9f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatroute-fed9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56405015770:ios:a12ea5b9c4edd881b3f9e3</string>
</dict>
</plist>